.card-view {
    height: 65vh;
    overflow-y: auto;
}

.spell_image {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


iframe {
    height: 100%;
    width: 100%;
    frameborder: 0;
  }