.card-view {
    height: 65vh;
    overflow-y: auto;
}

ion-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.spell_image {
    height: 5.2vh;
    width: 5.2vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


iframe {
    height: 100%;
    width: 100%;
    frameborder: 0;
  }